.EntitysItem{
    display: flex;
    justify-content: space-between;
}

.btns-container{
    display: flex;

}

.add-btn{
    font-weight: bold;
}

.entity-title{
    font-size: 1.3rem;
    font-weight: bold;
}

.error{
    color: red
}

.spinner{
    margin: 0 auto;
}
.pointer{
    cursor: pointer;
}